/* ------------------ */
/*  MODAL             */
/* ------------------ */

// $gradientBackground: linear-gradient(90deg, rgba(102, 41, 144, 1) 0%, rgba(131, 91, 169, 1) 52.22%, rgba(182, 136, 193, 1) 100%);

$gradientBackground: linear-gradient(45deg, #783b91 0%, #f884c0 100%);

.modal-header {
    border-radius: 0rem !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    border-bottom: 1px solid #eee !important;
    background: $gradientBackground;
    /* Old browsers */
    // background: -moz-linear-gradient(45deg, #783b91 0%, #f884c0 100%);
    // /* FF3.6-15 */
    // background: -webkit-linear-gradient(45deg, #783b91 0%, #f884c0 100%);
    // /* Chrome10-25,Safari5.1-6 */
    // background: linear-gradient(45deg, #783b91 0%, #f884c0 100%);
    // /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#783b91', endColorstr='#f884c0', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    font-size: 2px !important;
    color: #fff;

    // .close {
    //     padding: 0px !important;
    //     margin: 0px !important;
    // }
}

.modal-body-title {
    font-weight: 600 !important;
    font-size: 22px !important;
}

// .modal-header {
//     border: 0 !important;
// }

.modal-content {
    border-radius: 0.2rem !important;
}

.modal-footer {
    button {
        margin: 0px !important;
    }
}

.animated.delay-0-5s {
    animation-delay: 0.5s;
}