  .dialog-demo .p-button {
    margin: 0 0.5rem 0 0;
    min-width: 10rem;
  }
  
  .dialog-demo p {
    margin: 0;
    line-height: 1.5;
  }
  
  .dialog-demo .p-dialog .p-button {
    min-width: 6rem;
  }
  
  .p-dialog-header {
    padding: 3px 25px !important;
    border-bottom: 1px solid #eee !important;
    background: #783b91 !important;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #783b91 0%, #f884c0 100%) !important;
    /* FF3.6-15 */
    background: -webkit-linear-gradient(
      45deg,
      #783b91 0%,
      #f884c0 100%
    ) !important;
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #783b91 0%, #f884c0 100%) !important;
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#783b91', endColorstr='#f884c0', GradientType=1) !important;
    /* IE6-9 fallback on horizontal gradient */
    font-size: 2px !important;
    color: #fff !important;
    /* 
      .close {
          padding: 0px !important;
          margin: 0px !important;
      } */
  }

  .p-dialog-content{
    padding: 1.5rem 1.5rem 2rem 1.5rem !important; 
  }
  